<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
 <header>
    <nav class="navbar navbar-expand-md shadow-sm">
        <div class="container">
          <a class="navbar-brand text-white ml-4" href="#">DESIGNER</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-facebook text-white"></span>
          </button>      
          <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav ml-auto mb-md-2">
              <li class="nav-item active p-2">
                <a class="nav-link text-white" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link text-white" href="#">About</a>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link text-white" href="#">Services</a>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link text-white" href="#">Blog</a>
              </li>
              <li class="nav-item p-2">
                <a class="nav-link text-white" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
 </header>