{{> header}}
<section>
    <div class="container pt-5 pb-5">
        <div class="row">
         <div class="col-md-6">
           <div class="image">
             <img src="/images/portfolio.png" width="100%" alt="">
           </div>
       </div>
         <div class="col-md-6 flex-e">
                <h1>Hi I'm a Inspire<br>based Designer</h1>
                <p class="pt-2 pb-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum non, assumenda dolores ad quam dolore soluta. Et similique omnis fugiat aliquam corporis, delectus, deserunt quasi nostrum eveniet facere ipsa fugit?</p>
                <div class="d-flex">
                    <button class="btn btn-bg m-2">Learn More</button>
                    <button class="btn shadow m-2 border text-white rounded"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
                     <path fill-rule="evenodd" d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                   </svg>&nbsp;&nbsp;Watch Video</button>
                </div>
                <div class="social">
                 <ul>
                   <li><span class="fa fa-behance"></span></li>
                   <li><span class="fa fa-dribbble"></span></li>
                   <li><span class="fa fa-facebook"></span></li>
                   <li><span class="fa fa-pinterest"></span></li>
                   <li><span class="fa fa-linkedin"></span></li>
                 </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mb-5 mt-4 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center border-right"><h2 class="display-3 pt-5 count">335</h2><p class="pb-3">Happy Client</p></div>
      <div class="col-md-3 text-center border-right"><h2 class="display-3 pt-5 count">425</h2><p class="pb-3">Project Complete</p></div>
      <div class="col-md-3 text-center border-right"><h2 class="display-3 pt-5 count">285</h2><p class="pb-3">Cups of tea</p></div>
      <div class="col-md-3 text-center"><h2 class="display-3 pt-5 count">380</h2><p class="pb-3">Awards Win</p></div>
    </div>
  </div>
</section>
<section class="p-5 bg-second">
  <div class="container">
    <div class="row">
      <h2>Expert in</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing <br>elit. Aspernatur, consectetur minus?</p>
      <div class="col-md-4 mt-4"><div class="expert"><h2 class="display-6 mb-4">Graphic Design</h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p><a class="text-white" href="#">Know More</a></div></div>
      <div class="col-md-4 mt-4"><div class="experts"><h2 class="display-6 mb-4">UI_UX Design</h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p><a href="#">Know More</a></div></div>
      <div class="col-md-4 mt-4"><div class="experts"><h2 class="display-6 mb-4">Product Design</h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p><a href="#">Know More</a></div></div>
    </div>
  </div>
</section>
<section class="p-5">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center">
        <div class="col-sm"><h2 class="portfolio display-6 mt-3 mb-5 pr-2 pl-2">Portfolio</h2><img src="/images/one.png" class="img-fluid" alt="..."><br><img src="/images/two.png" class="img-fluid" alt="..."></div>
        <div class="col-sm"><img src="/images/three.png" class="img-fluid" alt="..."><br><img src="/images/four.png" class="img-fluid" alt="..."></div>
        <div class="col-sm"><img src="/images/one.png" class="img-fluid" alt="..."><br><img src="/images/three.png" class="img-fluid" alt="..."><p class="work text-right mt-5">See More Work...</p></div>
      </div>
    </div>
  </div>
</section>
<section class="p-5 bg-second">
 <div class="container p-5">
   <div class="row">
     <!-- Swiper -->
 <div class="swiper-container">
   <div class="swiper-wrapper">
     <div class="swiper-slide">
       <div class="container">
         <div class="row">
           <div class="col-md-6">
             <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-person-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9.854-2.854a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
             </svg>
             <h3 class="display-5 pt-3">Our Client say something</h3>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur sed est veritatis tenetur perspiciatis excepturi fugit assumenda odit nihil! Vitae perspiciatis reprehenderit veniam optio consequatur eaque repellendus explicabo ducimus voluptas.</p>
             <h5 class="pt-3">Kawser Ahmed</h5>
             <p class="pt-2"><i>UI/UX Desiger</i></p>
           </div>
           <div class="col-md-6">
             <img src="/images/clients.png" class="img-fluid" alt="...">
           </div>
         </div>
       </div>
     </div>
     <div class="swiper-slide">
       <div class="container">
         <div class="row">
           <div class="col-md-6">
             <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-person-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9.854-2.854a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
             </svg>
             <h3 class="display-4 pt-3">Our Client say something</h3>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur sed est veritatis tenetur perspiciatis excepturi fugit assumenda odit nihil! Vitae perspiciatis reprehenderit veniam optio consequatur eaque repellendus explicabo ducimus voluptas.</p>
             <h5 class="pt-3">Kawser Ahmed</h5>
             <p class="pt-2"><i>UI/UX Desiger</i></p>
           </div>
           <div class="col-md-6">
             <img src="/images/clients.png" class="img-fluid" alt="...">
           </div>
         </div>
       </div>
     </div>
     <div class="swiper-slide">
       <div class="container">
         <div class="row">
           <div class="col-md-6">
             <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-person-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9.854-2.854a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
             </svg>
             <h3 class="display-4 pt-3">Our Client say something</h3>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur sed est veritatis tenetur perspiciatis excepturi fugit assumenda odit nihil! Vitae perspiciatis reprehenderit veniam optio consequatur eaque repellendus explicabo ducimus voluptas.</p>
             <h5 class="pt-3">Kawser Ahmed</h5>
             <p class="pt-2"><i>UI/UX Desiger</i></p>
           </div>
           <div class="col-md-6">
             <img src="/images/clients.png" class="img-fluid" alt="...">
           </div>
         </div>
       </div>
     </div>
     <div class="swiper-slide">
       <div class="container">
         <div class="row">
           <div class="col-md-6">
             <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-person-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9.854-2.854a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
             </svg>
             <h3 class="display-4 pt-3">Our Client say something</h3>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur sed est veritatis tenetur perspiciatis excepturi fugit assumenda odit nihil! Vitae perspiciatis reprehenderit veniam optio consequatur eaque repellendus explicabo ducimus voluptas.</p>
             <h5 class="pt-3">Kawser Ahmed</h5>
             <p class="pt-2"><i>UI/UX Desiger</i></p>
           </div>
           <div class="col-md-6">
             <img src="/images/clients.png" class="img-fluid" alt="...">
           </div>
         </div>
       </div>
     </div>
     <div class="swiper-slide">
       <div class="container">
         <div class="row">
           <div class="col-md-6">
             <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-person-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9.854-2.854a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
             </svg>
             <h3 class="display-4 pt-3">Our Client say something</h3>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur sed est veritatis tenetur perspiciatis excepturi fugit assumenda odit nihil! Vitae perspiciatis reprehenderit veniam optio consequatur eaque repellendus explicabo ducimus voluptas.</p>
             <h5 class="pt-3">Kawser Ahmed</h5>
             <p class="pt-2"><i>UI/UX Desiger</i></p>
           </div>
           <div class="col-md-6">
             <img src="/images/clients.png" class="img-fluid" alt="...">
           </div>
         </div>
       </div>
     </div>
   </div>
   <!-- Add Arrows -->
   <div class="swiper-button-next"></div>
   <div class="swiper-button-prev"></div>
 </div>
   </div>
 </div>
</section>
<section class="pb-5">
 <center class="m-5 p-2"><h2>News & Events</h2></center>
 <div class="container">
   <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
     <div class="col">
       <div class="card shadow-sm">
         <img src="/images/3433515.jpg" width="100%" height="225" alt="" class="rounded">
         <div class="card-body">
           <small class="p-1 rounded mt-2">Uncategorized</small>
           <h5 class="mb-3 mt-3">Motivational Sayings Ten Great Ones</h5>
           <div class="d-flex justify-content-between align-items-center">
             <p class="text-muted">By Admin, June 28, 2020</p>
           </div>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card shadow-sm">
         <img src="/images/3617762.jpg" width="100%" height="225" alt="" class="rounded">
         <div class="card-body">
           <small class="p-1 rounded">Uncategorized</small>
           <h5 class="mb-3 mt-3">Motivational Sayings Ten Great Ones</h5>
           <div class="d-flex justify-content-between align-items-center">
             <p class="text-muted">By Admin, June 28, 2020</p>
           </div>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card shadow-sm">
         <img src="/images/3661950.jpg" width="100%" height="225" alt="" class="rounded">
         <div class="card-body">
           <small class="p-1 rounded">Uncategorized</small>
           <h5 class="mb-3 mt-3">Motivational Sayings Ten Great Ones</h5>
           <div class="d-flex justify-content-between align-items-center">
             <p class="text-muted">By Admin, June 28, 2020</p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</section>
<section class="bg-second">
 <div class="container">
   <div class="row">
     <div class="col-md-1"></div>
     <div class="col-md-10">
       <div class="content text-center">
         <h3>Have any projects in mind ? Say Hello at . . .</h3>
         <a href="#"><h4 class="text-primary pt-4 pb-2">inspire@gmail.com</h4></a>
       </div>
     </div>
     <div class="col-md-1"></div>
   </div>
 </div>
</section>
{{> footer}}
